<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= link_to @forum.site.name, @forum.site %>
</p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>

<div id="topic_list">
  <%= render :partial => 'paginator' %>
</div>
