<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= link_to @forum.site.name, @forum.site %>
</p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>

<% unless @forum.topics.size == 0 %>
  <ol>
    <% @forum.topics.each do |topic| %>
      <li><%= link_to topic.name, topic %><li>
    <% end %>
  </ol>
<% end %>
